// Legal® [v1.0.0]
// Sass mixins for Legal®.

// Importing partials/modules through "@import" directive.
// 1.
@import "mixins/clearfix";
// 2.
@import "mixins/opacity";
// 3.
@import "mixins/text-overflow";
// 4.
@import "mixins/box-sizing";
// 5.
@import "mixins/user-select";
// 6.
@import "mixins/hyphens";
// 7.
@import "mixins/backface-visibility";
// 8.
@import "mixins/transform";
// 9.
@import "mixins/transitions";
// 10.
@import "mixins/animations";
// 11.
@import "mixins/keyframes";

// ==========================================
// A. Mixin helper to output vendor prefixes.
// @param {String} $property - Unprefixed CSS property
// @param {*} $value - Raw CSS value
// @param {List} $prefixes - List of prefixes to output
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $value;
  }
  #{$property}: $value;
}

// ==========================================
// B. Visually hide an element.
%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
