// 02. <body> = The HTML <body> Element represents the content of an HTML document.
// There can be only one <body> element in a document.

body {
  font-family: $axix-base-font-family;
  font-size: 14px;
}

// defaults
body.axix-legal {
  font-family: $axix-base-font-family-sans-serif;
  font-size: $axix-base-font-size;
  line-height: $axix-base-line-height;
}

body {
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
          font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
