// 01. <html> = The HTML <html> element (or HTML root element) represents the root of an HTML document.
// All other elements must be descendants of this element.

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
          font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

// for Internet Explorer 10 in Windows 8 and Windows Phone 8.
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

// Scroll Bar for -webkit- engine.
$axix-webkit-background-color:            #4F4540 !default;
$axix-webkit-scrollbar-thumb-color:       #B58418 !default;
$axix-webkit-scrollbar-thumb-hover-color: #DAA520 !default;

::-webkit-scrollbar {
  background: $axix-webkit-background-color;
  width: 8px;
  height: 32px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background: $axix-webkit-background-color;
}

::-webkit-scrollbar-thumb {
  background: $axix-webkit-scrollbar-thumb-color;
}

::-webkit-scrollbar-thumb:hover {
  background: $axix-webkit-scrollbar-thumb-hover-color;
}
