<footer role="contentinfo">
  <p>Copyright © 2014 - <script type="text/javascript">var year = new Date().getFullYear();document.write(year);</script>2015 <a href="http://sequomics.com/">Sequømics Corporation.</a> All rights reserved.</p>
</footer>
